.message-page {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.messages {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
    background-color: #f4f5fb;
}

.message {
    max-width: 60%;
    border-radius: 15px;
    font-size: 14px;
    line-height: 1.4;
}

.message.sent {
    background-color: #2ec4b6;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message.received {
    background-color: #e6ecf3;
    border-bottom-left-radius: 0;
}

.message-input-container {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-top: 1px solid #e6ecf3;
    background-color: #fff;
}
